aioredis==1.3.1
alabaster==0.7.12
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
attrs==20.1.0
autobahn==20.7.1
Automat==20.2.0
Babel==2.8.0
certifi==2020.4.5.1
cffi==1.14.0
channels==2.4.0
channels-redis==3.0.1
chardet==3.0.4
constantly==15.1.0
cryptography==2.9.2
daphne==2.5.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.0.8
django-allauth==0.42.0
django-cleanup==5.0.0
django-cors-headers==3.4.0
django-extensions==3.0.5
django-filter==2.3.0
django-jalali==4.0.0
django-polymorphic==2.1.2
django-resized==0.3.11
django-rest-auth==0.9.5
djangorestframework==3.11.0
djangorestframework-simplejwt==4.4.0
docutils==0.16
ez-setup==0.9
gunicorn==20.0.4
hiredis==1.1.0
hyperlink==20.0.1
idna==2.9
imageio==2.9.0
imageio-ffmpeg==0.4.2
imagesize==1.2.0
incremental==17.5.0
isort==4.3.21
jdatetime==3.6.2
Jinja2==2.11.2
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
moviepy==1.0.3
msgpack==1.0.0
numpy==1.19.1
packaging==20.4
proglog==0.1.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser==2.20
Pygments==2.6.1
PyHamcrest==2.0.2
pylint==2.5.3
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python3-openid==3.2.0
requests==2.23.0
requests-oauthlib==1.3.0
ruamel-yaml==0.15.87
service-identity==18.1.0
six==1.14.0
snowballstemmer==2.0.0
sqlparse==0.3.1
style==1.1.0
toml==0.10.1
tqdm==4.48.2
Twisted==20.3.0
txaio==20.4.1
update==0.0.1
urllib3==1.25.8
wrapt==1.12.1
zope.interface==5.1.0
